.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

*{
    margin:0;
    pading:0;
    box-sizing: border-box;
}

.padding-1{
    padding-right:0;
    padding-left:60px;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

body{
    color:white;
    font-family : 'calibri';
}

header{
    background: url('images/fondo.jpg');
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}